* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    
    width: 90%;
    margin: auto;
    max-width: 1440px;
    
    

    .slides {
        position: relative;   
        margin-top: 1rem;
        

        >img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            
        }

        >img:not(.active){
            display: none; 
        }

        .controls {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            width: 100%;

            > button{
                background-color: transparent;
                border: none;
            }

            > button:hover{
                color: white;
            }
        }
    }
}